body{
  background: #76b39d;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.containerContent{
  width: 700px;
  margin: 0 auto 0 auto;
}
.heading:after {
  content: "";
  display: block;
  clear: both;
}
.title{
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}
.score_container{
  float: right;
}
.scores, .bestScore {
  position: relative;
  display: inline-block;
  background: #155e63;
  padding: 50px 45px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin-top: 8px;
  margin-left:8px;
  text-align: center;
}
.scores:after {
  content: "Scores";
}
.bestScore:after {
  content: "Best Score";
}
.scores:after, .bestScore:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #eee4da;
}
.game_infor{
  display: flex;
}
.game_infor:after {
  content: "";
  display: block;
  clear: both;
}
.game_intro{
  float: left;
  line-height: 25px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top:10px;
  flex: 3;
}
.resart_button{
  flex: 1;
  float: right;
  display: inline-block;
  background: #323643;
  border-radius: 3px;
  padding: 0 27px;
  margin-top:10px;
  font-size: 25px;
  font-weight: bolder;
  color: #f9f6f2;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
}
.control_view{
  width: 700px;
  margin-top: 35px;
}
.control_button{
  float: right;
  width:300px;
  margin-top: 150px;
}
.ant-btn{
  width:60px;
  height:50px;
  margin-left:240px; 
}
.game_over_state{
  position: fixed;
  bottom: 43%;
  height:80px;
  font-size: 18px;
  color: #eee4da;
  z-index: 200;
  background: #323643;
  opacity: 0.6;
  left: 0;
  right:0;
  text-align: center;
  line-height: 80px;
  animation:show-in 0.5s;
}
@-webkit-keyframes show-in {
  from {
    opacity: 0;
    bottom:0;
  }
  to {
    opacity: 0.6;
    bottom:43%;
  }
}
.over_hidden{
  display: none;
}
.addNumClass{
  opacity: 0;
}
@-webkit-keyframes scoreAddition {
  from {
    opacity: 1;
    top: 15px;
  }
  to {
    opacity: 0;
    top: -15px;
  }
}
.score-addition{
  position: relative;
  left:60px;
  font-size: 20px;
  line-height: 21px;
  font-weight: bold;
  color: rgba(119, 110, 101, 0.9);
  z-index: 100;
  -webkit-animation: scoreAddition 400ms ease-in;
  animation-fill-mode: both;
}
/*通用样式*/
 /*手机*/
 @media screen and (max-width:600px){
  .containerContent {
    width: 320px;
    padding-top:30px;
  }  
  .title {
    font-size: 37px;
  }
  .scores, .bestScore {
    padding: 25px 38px;
    font-size: 5px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
  }
  .resart_button {
    padding: 0px 0px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
  .control_view {
    width: 320px;
    padding-left:25px;
    margin-top: 35px;
  }
  .control_button {
    display: none;
  }
  .game_intro{
    line-height: 20px;
  }
  .heading, .game_infor{
    padding: 0 5px 0 5px;
  }
  .score-addition{
    top: 3px;
    left:40px;
    font-size: 15px;
    line-height: 21px;
  }
  @-webkit-keyframes scoreAddition {
    from {
      opacity: 1;
      top: 10px;
    }
    to {
      opacity: 0;
      top: -10px;
    }
  }
}
/*平板*/
@media screen and (min-width:600px) and (max-width:1024px){
  .containerContent {
    width: 520px;
  }  
  .control_view {
    width: 520px;
  }
  .control_button {
    width: 120px;
  }
  .ant-btn {
    width: 60px;
    height: 50px;
    margin-left: 20px;
  }
  .score-addition{
    font-size: 15px;
    line-height: 21px;
  }
  @-webkit-keyframes scoreAddition {
    from {
      opacity: 1;
      top: 20px;
    }
    to {
      opacity: 0;
      top: -20px;
    }
  }
}
/*PC*/
@media screen and (min-width:1024px){
  
}