body{
  /* position: fixed; */
  margin:15px;
}
p,h1,h2,h3{
  margin: 0;
}
.top_bar{
  font-family:PingFangSC-Regular;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: 100;
  background: #fff;
}
.top_bar::after{
  position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5e5e5;
  transform: scaleY(0.5)
}
.top_bar_name{
  height:50px;
  line-height: 50px;
  background: black;
  color: azure;
  font-size: 18px;
  
}
.user_name{
  height:50px;
  line-height: 50px;
  display: flex;
  flex: 3;
  font-size: 18px;
}
.user_name span{
  flex: 1;
}
.myName{
  text-align: center;
  font-weight: bold ;
  font-size: 20px;
}
.film_making{
  text-align: left;
  color:#ff2064;  
}
.film_making span{
  float: left;
}
.film_making img{
  width: 15px;
  height: 15px;
}
.film_making p{
  padding-left:10px; 
}
.complete{
  text-align: right;
  color:#ff2064;
}
.complete p{
  padding-right:10px;
}
.chance_router{
  height:50px;
  line-height: 50px;
  display: flex;
  color:#575151;
  flex: 3;
}
.chance_router span{
  flex: 1;
  text-align: center;
  /* margin:0 10px 0 10px; */
}
.chance_button{
  height:50px;
  line-height: 50px;
  font-size: 17px;
  color:#575151;
}
.show_list{
  height:50px;
  line-height: 50px;
  color:#575151;
  position: relative;
}
.show_list::after{
  position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
  transform: scaleY(0.5)
}
.my_music_list{
  float: left;
  font-size: 1.5em;
}
.bottle{
  float: right;
  font-size: 15px;
}
.select_point{
  float: left;
  margin-right:12px;
}
.chanceSpan{
  display: block;
  float: left;
  width:20px;
  height: 50px;
  line-height: 47px;
}
.radio{
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  border-radius: 15px;
  padding: 6px;
}
.select_point p{
  float: left;
  margin-left:5px;
}
.box_back {
  background: #ff2064;
  padding:7px;
  border: 1px solid #e5e5e5;
  animation: fade-in 0.6s;
}
.box_eliminate{
  animation: fade-out 0.6s;
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    padding:7px;
    border: 1px solid #e5e5e5; 
  }
}
@keyframes fade-out{
  from{
    opacity: 1;
  }
  to{
    opacity: 1; 
  }
}
.myMusic_list{
  font-size: 17px;
  height:50px;
  line-height: 50px;
  position: relative;
}
.selectStyle{
  width: 32px;
  height:32px;
  float: left;
  margin:9px;
}
.img_opac{
  opacity: 0;
}
.img_opac_show{
  opacity: 1;
}
.myMusic_list p{
  float: left;
  margin-left:10px;
  width:75%;
  /* max-width:220px; */
  height:50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.myMusic_list::after{
  position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
  transform: scaleY(0.5)
}
.bottom-button{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:70px;
  border-top:1px solid gray;
  background: #f7f7f7;
  display: flex;
  flex: 5;
  font-size:16px;
}
.button_div{
  flex: 1;
  text-align: center;
  padding:5px;
}
.button_style{
  height: 30px;
}
.active{
  color:gray;
}
.button_icon{
  width:25px;
  height:25px;
  margin: 5px;
}
.chance_dot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius:100%;
  border:1px solid #e5e5e5;
  background:#f2f2f2;
  text-align: center;
  line-height: 18px;
  margin:5px;
  opacity: 1;
}
.chance_dot_show{
  background: #ff2064;
  color:#fff;
}
.dialog_class{
  position: fixed;
  bottom: 80px;
  left:20px;
  right:20px;
  height:50px;
  font-size:15px;
  color: #e0e0e0;
  text-align: center;
  line-height: 50px;
  background: #062743;
  opacity: 0.8;
}
.max_reminder{
  position: fixed;
  bottom: 100px;
  left:40px;
  right:40px;
  height:50px;
  color: #e0e0e0;
  text-align: center;
  line-height: 50px;
  background: #062743;
  opacity: 0.6;
}
.tab_option{
  font-size:17px;
  height:45px;
  line-height:45px;
}
.tab_color{
  color:#ff2064;
}
.tab_option img{
  width:30px;
  height:30px;
  vertical-align: middle;
  display: inline-block;
}
.tab_bottom_red{
  height:5px;
  width: 35%;
  margin-left: 35%;
  background: #ff2064;
}

.backgroundLyaer{
  position: fixed;
  top: -150px;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 300;
  background: rgba(0, 0, 0, .6);
}
.delete_dialog{
  position: absolute;
  bottom: 200px;
  text-align: center;
  left:40px;
  right:40px;
  height:150px;
  background: #fff;
  opacity: 1;
  border-radius: 5px;
}
.delete_content{
  height: 100px;
  width:70%;
  padding-left:15%;
  line-height: 100px;
}
.delete_content span{
  width: 100%;
  line-height: 30px;
  display:inline-block;
  vertical-align: middle;
}
.dialog_chance{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex: 2;
  line-height: 50px;
}
.dialog_chance::after{
  position: absolute;
  content: '';
  top: 0;
  left:0;
  right:0;
  height:1px;
  background: #e0e0e0;
}
.dialog_chance span{
  flex: 1;
  display: block;
  line-height: 50px;
}
.cancel{
  border-right: 1px solid #e0e0e0;
}
.music_input{
  width: 80%;
  height:24px;
}

.progressBox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height:150px;
  transform: translateY(100%);
}
.showBox{
  transform: translateY(0);
}
.closeBox{
  color: #ff2064;
  font-size: 18px;
  height:30px;
}
.closeBox span{
  float: right;
  margin-right: 20px;
}
.musicName{
  font-size: 18px;
  text-align: center;
  height:30px;
  margin-bottom: 5px;
  line-height:30px;
}
.img_button{
  width: 15%;
  height:100%;
  float: left;
}
.musicName_img{
  width: 15px;
  height: 15px;
  margin-top:11px;
  float: right;
}
.player{
  width: 73%;
  height: 34px;
  float: left;
  margin-left:2%;
  line-height:34px;
}
.slider{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height:2px;
  background: #e0e0e0;
  position: relative;
}
.slider > .processor{
  height: 2px;
  background: #ff2064;
  border-radius: 6px;
  position: absolute;
}
.slider > .controller{
  position: absolute;
  width: 30px;
  height:30px;
  background: #fff;
  box-shadow: #e0e0e0 0px 0px 8px;
  border-radius: 50%;
  top:-15px;
}

.cut_start{
  position: absolute;
  width: 10px;
  height:30px;
  top:-15px;
}
.cut_none{
  display: none;
}
.fragmentBox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height:240px;
  transform: translateY(100%);
}
.showFragment{
  transform: translateY(0);
}
.mark{
  width: 100%;
  height:130px;
  display: flex;
  flex: 3;
  text-align: center;
}
.mark div{
  flex: 1;
}
.mark img{
  display: block;
  margin: auto;
  margin-top:10px;
  width: 50px;
  height:50px;
  background: #e0e0e0;
  border-radius: 50%;
}
.musicTime{
  width: 100%;
  height:30px;
  float: left;
  text-align: center;
}
.completeChancefeagment{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  height:40px;
  text-align: center;
  line-height: 40px;
  background: #e0e0e0;
}
.mark_start_first{
  position: fixed;
  bottom:40px;
  left:10%;
  right:10%;
  background: #062743;
  opacity: 0.8;
  height:80px;
  color:#fff;
  font-size:18px;
  text-align: center;
  line-height: 80px;
}